<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="css/mycss.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/myapp.js"></script>
<
</head>
<body>
<div ng-app="myApp" ng-controller="AbilityController as character">
    <div ng-repeat="ability in character.abilities">
        <label>{{ability.name}}</label>
        <div class="calculation stat" id="{{ability.name}}">
            <div>
                <input type=number class="stat-score" min=7 max=18 ng-model="ability.baseScore">
                <label>Base Score</label>
            </div>
            <div>+</div>
            <div>
                <input type=number class="stat-racialMod" disabled ng-model="ability.racialModifier">
                <label>Racial Bonus</label>
            </div>
            <div ng-show="ability.ageModifier">+</div>
            <div ng-show="ability.ageModifier">
                <input type=number class="stat-agingMod" disabled ng-model="ability.ageModifier">
                <label>Age Modifier</label>
            </div>
            <div ng-show="ability.itemModifier">+</div>
            <div ng-show="ability.itemModifier">
                <input type=number class="stat-agingMod" disabled ng-model="ability.itemModifier">
                <label>Item Bonus</label>
            </div>
            <div ng-show="ability.temporaryModifier">+</div>
            <div ng-show="ability.temporaryModifier">
                <input type=number class="stat-agingMod" disabled ng-model="ability.temporaryModifier">
                <label>Temp Bonus</label>
            </div>
            <div>=</div>
            <div>
                <input type=number class="stat-adjusted result" disabled value="{{ability.adjusted()}}">
                <label>Adjusted Score</label>
            </div>
            <div>
                <input type=text class="{{ability.name}}-mod result" disabled value="{{ability.modifier() | signedNumber}}">
                <label>Ability Modifier</label>
            </div>
            <div>
                <input type=number class="stat-cost result" disabled value="{{ability.pointBuyCost() | signedNumber}}">
                <label>Point Buy Cost</label>
            </div>
        </div>
    </div>
</div>
</body>
</html>